.advantages-list {
  display: flex;
  width: 260px;
  flex-direction: column;

  &__item {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font: $font-stack;
    color: $boldtype-color;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    min-height: 90px;
    margin-bottom: 33px;
  }
  
  .advantages-list__item--flower {
    background-image: url("../img/icon-feature-flower.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  
  .advantages-list__item--money {
    background-image: url("../img/icon-feature-money.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  
  .advantages-list__item--heart {
    background-image: url("../img/icon-feature-heart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  
  .advantages-list__item--ball {
    background-image: url("../img/icon-feature-ball.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  
  .advantages-list__item--rocket {
    background-image: url("../img/icon-feature-rocket.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  
  .advantages-list__item--gift {
    background-image: url("../img/icon-feature-gift.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

@media (min-width: $tablet-width) {
  .advantages-list {
    flex-direction: row;
    width: 668px;
    flex-wrap: wrap;
  }
  
  .advantages-list__item {
    font-size: 20px;
    line-height: 22px;
}
  
  .advantages-list__item--flower{
    order: 1;
    width: 222px;
    margin-right: 112px;
  }
  
  .advantages-list__item--money {
    order: 3;
    width: 222px;
    margin-right: 112px;
  }
  
  .advantages-list__item--heart {
    order: 5;
    width: 222px;
    margin-right: 112px;
  }
  
  .advantages-list__item--ball {
    order: 2;
    width: 246px;
  }
  
  .advantages-list__item--rocket {
    order: 4;
    width: 300px;
  }
  
  .advantages-list__item--gift {
    order: 6;
    width: 246px;
  }
}

@media (min-width: $desktop-width) {
  .advantages-list {
    width: 1050px;
    margin-left: 175px;
  }
  
  .advantages-list__item--flower{
    width: 220px;
    margin-right: 130px;
  }
  
  .advantages-list__item--money {
    width: 220px;
    margin-right: 130px;
  }
  
  .advantages-list__item--heart {
    width: 220px;
    margin-right: 130px;
  }
  
  .advantages-list__item--ball {
    width: 246px;
    margin-right: 214px;
  }
  
  .advantages-list__item--rocket {
    width: 300px;
    margin-right: 214px;
  }
  
  .advantages-list__item--gift {
    width: 246px;
    margin-right: 214px;
  }
}
