.button {
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: $text-color;
  background-color: #ffffff;
  text-transform: uppercase;
  border: 2px solid $text-color;
}
