.catalog {
  display: flex;
  min-width: 320px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  &__wrapper {
    display: flex;
    width: 260px;
    flex-direction: column;
    align-items: center;
  }
  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    width: 260px;
    flex-direction: column;
    align-items: center;
  }
  &__item {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    border: 1px solid $decor-color;
  }
  &__photo {
    margin-bottom: 30px;
  }
  &__item-text {
    text-decoration: none;
    font-family: $font-stack;
    font-size: 17px;
    font-weight: 700;
    line-height: $line-height;
    color: $boldtype-color;
    margin-left: 28px;
    margin-bottom: 16px;
  }
  &__item-parametr {
    font-family: $font-stack;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
    color: $text-color;
    margin-left: 28px;
    margin-bottom: 50px;
  }
  &__item-ordering {
    display: flex;
    flex-direction: row;
    width: 205px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 31px;
    margin-left: 28px;
  }
  &__item-price {
    font-family: $font-stack;
    font-size: 15px;
    font-weight: 700;
    line-height: $line-height;
    color: $boldtype-color;
  }
  &__basket {
    width: 20px;
    height: 19px;
    background-image: url("../../img/icon-cart.svg");
    background-repeat: no-repeat;
    opacity: 0.2;
  }
}
