.contacts-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;

  &__title {
    font-family: $font-stack;
    font-size: 17px;
    font-weight: 700;
    line-height: 16px;
    color: #63d1bb;
    align-self: left;
    text-transform: uppercase;
    margin-bottom: 17px;
  }

  &__label {
    font-family: $font-stack;
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
    color: $boldtype-color;
    margin-bottom: 21px;
  }

  &__example {
    font-family: $font-stack;
    font-size: 17px;
    font-weight: 400;
    line-height: 18px;
    color: $text-color;
    border: none;
  }

  &__dop {
    font-family: $font-stack;
    font-size: 17px;
    font-weight: 400;
    line-height: 18px;
    color: $text-color;
    width: 260px;
    border: 1px solid #000000;
    margin-bottom: 18px;
  }

  &__note {
    margin-bottom: 33px;
  }
}

@media (min-width: $tablet-width) {
.contacts-data {
    width: 668px;
  }

  .contacts-data__fio-field {
    display: flex;
    flex-direction: row;
    width: 668px;
  }

  .contacts-data__fio-wrapper {
    display: flex;
    flex-direction: column;  
    width: 502px;
  }

  .contacts-data__contacts {
    display: flex;
    flex-direction: column;
    width: 668px;
  }

  .contacts-data__title {
    margin-right: 167px;
  }

  .contacts-data__contacts {
    display: flex;
    width: 668px;
    background-color: #f1f1f1;
  }

  .contacts-data__dop-info {
    display: flex;
    width: 668px;
    flex-direction: column;
  }

  .contacts-data__order {
    display: flex;
    width: 668px;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
 .contacts-data {
    width: 1050px;
  }

  .contacts-data__fio-field {
    width: 1050px;
}

.contacts-data__contacts {
    width: 1050px;
  }

  .contacts-data__contacts {
    width: 1050px;
  }

  .contacts-data__dop-info {
    width: 1050px;
  }

  .contacts-data__order {
    width: 1050px;
  }

  .contacts-data__note {
    margin-right: 175px;
  }
}
