.contacts {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  align-items: center;
  margin-bottom: 40px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 260px;
    align-items: flex-start;
  }

  &__title {
    padding: 0;
    margin: 0;
    font: $font-stack;
    color: $boldtype-color;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 39px;
  }

  &__postal {
    display: flex;
    flex-direction: row;
    width: 260px;
    align-items: flex-start;
    margin-bottom: 40px;
  }

  &__mail {
    padding: 0;
    margin: 0;
    margin-right: 32px;
  }

  &__email {
    text-decoration: none;
    font: $font-stack;
    color: $text-color;
    border-bottom: 1px solid #62d1ba;
  }

  &__info {
    display: flex;
    flex-direction: row;
    width: 260px;
    align-items: flex-start;
    margin-bottom: 42px;
  }

  &__address {
    padding: 0;
    margin-right: 32px;
  }

  &__text {
    width: 136px;
  }

  &__map {
    margin-bottom: 38px;
  }

  &__write {
    text-decoration: none;
    padding: 15px 56px;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    min-width: 778px;
  }

  .contacts__wrapper {
    width: 668px;
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;
  }

  .contacts__location {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 668px;
  }

  .contacts__postal {
    width: 334px;
    margin-right: 55px;
  }

  .contacts__mail {
    font-size: 17px;
    line-height: 30px;
    white-space: nowrap;
  }

  .contacts__email {
    font-size: 17px;
    line-height: 30px;
  }

  .contacts__info {
    width: 334px;
  }

  .contacts__address {
    font-size: 17px;
    line-height: 30px;
  }

  .contacts__text {
    font-size: 17px;
    line-height: 30px;
    width: 188px;
  }

  .contacts__write {
    margin-left: 220px;
    padding: 15px 39px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    min-width: 1150px;
  }

  .contacts__wrapper {
    width: 1050px;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    margin-left: 175px;
  }

  .contacts__location {
    flex-direction: column;
    justify-content: center;
    width: 350px;
    margin-left: 175px;
  }

  .contacts__write {
    margin-left: 175px;
  }

  .contacts__map {
    width: 527px;
    height: 466px;
    order: 2;
    align-self: flex-end;
    margin-top: -430px;
  }
}
