.opinion {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  align-items: center;
  margin-bottom: 40px;

  &__wrapper {
    padding: 0;
    display: flex;
    flex-direction: column;
    min-width: 260px;
    align-items: flex-start;
  }

  &__title {
    padding: 0;
    margin: 0;
    font: $font-stack;
    color: $boldtype-color;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 32px;
  }

  &__list {
    display: flex;
    width: 260px;
  }

  &__item {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-width: 260px;
  }

  &__text {
    margin: 0;
    text-align: left;
    width: 260px;
    margin-bottom: 36px;
  }

  &__author {
    margin: 0;
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  &__contact {
    margin: 0;
    font-size: 17px;
    margin-bottom: 34px;
  }

  &__slide {
    display: flex;
    flex-direction: row;
    margin-bottom: 38px;
  }

  &__control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 260px;
  }

  &__prev {
    background-color: #ffffff;
    background-image: url("../img/icon-left-arrow.svg");
    border: 2px solid $decor-color;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 130px;
  }

  &__next {
    background-color: #ffffff;
    background-image: url("../img/icon-right-arrow.svg");
    border: 2px solid $decor-color;
    border-left: none;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 130px;
  }

  &__write {
    text-decoration: none;
    padding: 15px 79px;
    margin-bottom: 43px;
  }
}

@media (min-width: $tablet-width) {
  .opinion {
    min-width: 768px;
  }

  .opinion__wrapper {
    min-width: 668px;
  }

  .opinion__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 56px;
  }

  .opinion__list {
    position: relative;
  }

  .opinion__text {
    font-size: 17px;
    line-height: 30px;
    width: 643px;
    margin-bottom: 65px;
  }

  .opinion__control {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 175px;
    position: absolute;
    z-index: 10;
    align-self: flex-end;
  }

  .opinion__write {
    padding: 15px 39px;
    margin-bottom: 237px;
  }

  .opinion__prev {
    border: none;
    width: 72px;
    height: 28px;
  }

  .opinion__next {
    border: none;
    width: 72px;
    height: 28px;
  }
}

@media (min-width: $desktop-width) {
  .opinion {
    min-width: 1150px;
    margin-bottom: 144px;
  }

  .opinion__wrapper {
    min-width: 1050px;
  }

  .opinion__list {
    margin-left: 175px;
  }

  .opinion__title {
    margin-left: 175px;
    font-size: 53px;
    line-height: 57px;
  }
}
