.popular-products {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  align-items: center;

  &__wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 260px;
    align-items: flex-start;
  }

  &__wrapper-name {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: center;
    width: 260px;
  }

  &__title {
    padding: 0;
    margin: 0;
    font: $font-stack;
    color: $boldtype-color;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 6px;
  }

  &__text {
    font: $font-stack;
    color: #63d1bb;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 22px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: center;
    width: 260px;
    position: relative;
    margin-bottom: 150px;
  }

  &__description {
    width: 245px;
    text-align: left;
    white-space: pre-wrap;
    margin-bottom: 38px;
  }

  &__features {
    margin-bottom: 28px;
  }

  &__img {
    margin-bottom: 27px;
    align-self: center;
  }

  &__buy {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    position: absolute;
    z-index: 8;
    margin-top: 314px;
  }

  &__price {
    align-self: center;
    font: $font-stack;
    color: $text-color;
    font-size: 17px;
    font-weight: 700;
    line-height: $line-height;
    margin-bottom: 27px;
  }

  &__button {
    text-decoration: none;
    align-self: center;
    padding: 15px 83px;
  }
}

@media (min-width: $tablet-width) {
  .popular-products {
    min-width: 768px;
    margin-bottom: 108px;
  }

  .popular-products__wrapper {
    width: 668px;
  }

  .popular-products__wrapper-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 668px;
  }

  .popular-products__title {
    font-size: 43px;
    line-height: 50px;
  }

  .popular-products__text {
    width: 72px;
    text-align: center;
  }

  .popular-products__body {
    position: static;
    display: flex;
    flex-direction: row;
    width: 668px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;  
  }

  .popular-products__buy {
    position: static;
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .popular-products {
    min-width: 1150px;
  }

  .popular-products__wrapper {
    width: 1050px;
  }

  .popular-products__wrapper-name {
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 1050px;
  }

  .popular-products__title {
    font-size: 53px;
    line-height: 57px;
    order: 2;
    white-space: nowrap;
  }

  .popular-products__text {
    order: 1;
    margin-left: 44px;
    margin-right: 59px;
  }

  .popular-products__body {
    width: 1050px;
  }

  .popular-products__parametrs {
    margin-left: 175px;
  }
}
