.production {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  margin-bottom: 91px;
  

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    border: 1px solid $decor-color;  
  }

  &__video {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 260px;
    margin-top: 27px;
    margin-bottom: 27px;
  }
  
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
  }

  &__title {
    font-family: $font-stack;
    font-size: 17px;
    font-weight: 700;
    line-height: $line-height-h2;
    color: $boldtype-color;
    width: 218px;
  }

  &__text {
    width: 128px;
    margin-bottom: 28px;
    margin-left: 6px;
  }

  &__order {
    text-decoration: none;
    padding: 17px 24px;
  }
}

@media (min-width: $tablet-width) {
  .production {
    min-width: 768px;
  }
  
  .production__wrapper {
    width: 668px;
    flex-direction: column;
  }
  
  .production__title {
    font-size: 20px;
    line-height: 24px;
    width: 340px;
    order: 1;
  }
  
  .production__video {
    width: 668px; 
  }
  
  .production__info {
    width: 668px;
    order: 2;
  }
  
  .production__text {
    margin: 0;
    padding: 0;
    line-height: 30px;
    padding-left: 40px;
    margin-bottom: 40px;
    width: 602px;
  }
  
  .production__order {
    padding: 17px 220px;
  }
}

@media (min-width: $desktop-width) {
  .production {
    min-width: 1150px;
  }
  
  .production__wrapper {
    width: 1050px;
    flex-direction: column-reverse;
    align-items: flex-start;
    position: relative;
  }
  
  .production__title {
    align-self: flex-end;
    width: 220px;
    position: absolute;
    z-index: 6;
    margin-top: -360px;
  }
  
  .production__video {
    width: 688px;
    height: 468px;
  }
  
  .production__info {
    display: flex;
    width: 234px;
    align-self: flex-end;
    flex-direction: column; 
    position: absolute;
    z-index: 9;
    margin-top: -88px;
  }
  
  .production__text {
    padding: 0;
    width: 234px;
  }
  
  .production__order {
    white-space: nowrap;
    padding: 17px 42px;
  }
}
