.request {
  display: flex;
  min-width: 320px;
  justify-content: center;
  background-color: #f1f1f1;

  &__wrapper {
    display: flex;
    width: 260px;
    justify-content: center;
  }

  &__title {
    font-family: $font-stack;
    font-size: $font-size-h2;
    font-weight: 700;
    line-height: $line-height-h2;
    color: $boldtype-color;
    margin-top: 72px;
    margin-bottom: 74px;
  }
}

@media (min-width: $tablet-width) {
  .request {
    min-width: 768px; 
  }

  .request__wrapper {
    width: 668px;
  }

  .reguest__title {
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .request {
    min-width: 1150px; 
  }

  .request__wrapper {
    width: 1050px;
  }

  .reguest__title {
    font-size: 53px;
    line-height: 57px;
  }
}
