.request-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  margin-bottom: 55px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
  }

  &__text {
    text-align: left;
    margin-top: 27px;
    margin-bottom: 29px;
    font-size: 13px;
    width: 245px;
  }

  &__form {
    display: flex;
    width: 260px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__type {
    padding: 0;
    font-family: $font-stack;
    font-size: 17px;
    font-weight: 700;
    line-height: 16px;
    color: #63d1bb;
    border: none;
  }

  &__color {
    padding: 0;
    font-family: $font-stack;
    font-size: 17px;
    font-weight: 700;
    line-height: 16px;
    color: #63d1bb;
    border: none;
    margin-bottom: 32px;
  }

  &__name {
    text-transform: uppercase;
  }

  &__button {
    padding: 17px 45px;
  }
}

@media (min-width: $tablet-width) {
  .request-form {
    min-width: 768px;
  }
  
  .request-form__wrapper {
    width: 668px;
  }
  
  .request-form__text {
    width: 616px;
    font-size: 17px;
    line-height: 30px;
    text-align: left;
  }
  
  .request-form__form {
    width: 668px;
  }
  
  .request-form__type {
    display: flex;
    flex-direction: row;
    width: 668px;
    margin-bottom: 36px;
  }
  
  .request-form__type-list {
    display: flex;
    flex-direction: column;
    width: 504px;
    justify-content: flex-end;
    margin-left: 167px;
    margin-bottom: 0;
    margin-top: -27px;
  }
  .request-form__name {
    margin-top: 10px;
  }
  
  .request-form__name--color {
    margin-top: 67px;
  }
  
  .request-form__color {
    display: flex;
    flex-direction: row;
    width: 668px;
    margin-bottom: 36px;
    background-color: #f1f1f1;
  }
  
  .request-form__color-list {
    display: flex;
    flex-direction: column;
    width: 504px;
    justify-content: flex-end;
    margin-left: 167px;
    margin-bottom: 0;
    margin-top: -27px;
  }
  
  .request-form__button {
    padding: 17px 32px;
  }
}
  
@media (min-width: $desktop-width) {
  .request-form {
    min-width: 1150px;
  }
  
  .request-form__wrapper {
    width: 1050px;
  }
  
  .request-form__text {
    width: 616px;
    margin-left: 175px;
  }
  
  .request-form__form {
    width: 1050px;
  }
  
  .request-form__type {
    width: 1050px;
  }
  
  .request-form__type-list {
    width: 711px;
  }
  
  .request-form__color {
    width: 1050px;
  }
  
  .request-form__color-list {
    width: 711px;
  }
  
  .request-form__button {
    margin-left: 175px;
  }
}
