$font-stack: "Open Sans", "Arial", sans-serif;
$boldtype-color: #000000;
$text-color: #444444;
$font-size: 15px;
$line-height: 24px;
$footer-bcolor: #f1f1f1;
$decor-color: #ececec;
$interior-color: #63d1bb;
$toys-color: #56c3b2;
$background-color: #ffffff;
$font-size-h2: 27px;
$line-height-h2: 30px;
$boldinterior-color: #ffffff;
$advantages-icon: url("../img/icon-feature-flower.svg"), url("../img/icon-feature-money.svg"), url("../img/icon-feature-heart.svg"), url("../img/icon-feature-ball.svg"), url("../img/icon-feature-rocket.svg"), url("../img/icon-feature-gift.svg");
$social-icon: url("../img/icon-insta.svg"), url("../img/icon-fb.svg"), url("../img/icon-twitter.svg");
