$font-stack: "Open Sans", "Arial", sans-serif;
$boldtype-color: #000000;
$text-color: #444444;
$font-size: 15px;
$line-height: 24px;
$footer-bcolor: #f1f1f1;
$decor-color: #ececec;
$interior-color: #63d1bb;
$toys-color: #56c3b2;
$background-color: #ffffff;
$font-size-h2: 27px;
$line-height-h2: 30px;
$boldinterior-color: #ffffff;
$tablet-width: 768px;
$desktop-width: 1150px;
